* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: arial;
}
body {
  background-color: $color-bgHero;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
header {
  background: url(../image/bgh.svg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  border-right: 5px solid $color-primary;
  z-index: 2;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    user-select: none;

    .perfil {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      .border {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $color-primary;
        clip-path: polygon(
          20% 0%,
          0% 20%,
          20% 50%,
          0% 80%,
          20% 100%,
          50% 85%,
          80% 100%,
          100% 80%,
          80% 50%,
          100% 20%,
          80% 0%,
          50% 20%
        );
        .foto {
          width: 99%;
          clip-path: polygon(
            20% 0%,
            0% 20%,
            20% 50%,
            0% 80%,
            20% 100%,
            50% 80%,
            80% 100%,
            100% 80%,
            80% 50%,
            100% 20%,
            80% 0%,
            50% 25%
          );
        }
      }

      .nome {
        color: $color-secondary;
        text-decoration: underline $color-primary;
        text-transform: uppercase;
        transition: 0.3s;
        &:hover {
          transition: 0.5s;
          color: $color-primary;
          text-decoration: underline $color-secondary;
        }
      }
      .nick-name {
        color: $color-secondary;
        &:hover {
          ion-icon {
            color: $color-primary;
          }
        }
      }
      .bio {
        color: $color-icon;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;

        span {
          color: $color-primary;
        }
      }

      .loc {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 13pt;
        font-weight: bold;
        color: $color-secondary;
        ion-icon {
          color: $color-primary;
          font-size: 15pt;
        }
      }
    }
    .social {
      width: 100%;
      align-items: center;

      a {
        display: flex;
        font-size: 20pt;
        color: $color-icon;
        transition: 0.5s;
        &:hover {
          color: $color-primary;
          transition: 0.5s;
        }
      }

      .links {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: url(../image/bgh.svg) center no-repeat;
  background-size: cover;
  padding: 40px;
  user-select: none;

  h1 {
    text-decoration: underline;
    color: $color-primary;
    font-size: 25pt;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .blocos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    background: url(../../assets/bgh.svg);
    box-shadow: 0 70px 63px -60px $color-primary;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    z-index: 2;
    .bloco {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-bgHero;
      width: 65px;
      height: 65px;
      clip-path: polygon(
        20% 0%,
        0% 20%,
        20% 50%,
        0% 80%,
        20% 100%,
        50% 80%,
        80% 100%,
        100% 80%,
        80% 50%,
        100% 20%,
        80% 0%,
        52% 25%
      );

      &.active {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 20px 20px 60px $color-bgHero,
          inset -20px -20px 60px $color-primary;
        transition: 0.5s ease-in;
        &:hover {
          box-shadow: inset 20px 20px 60px $color-primary,
            inset -20px -20px 60px $color-primary;
          transition: 1s ease-in;
          transform: rotate(90deg);

          a {
            transform: rotate(-90deg);
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 1.5s;
          img {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}
